.detail {
  .container {
    padding: 5rem 0;
    @extend %f-r-e-b;

    .content {
      flex: 0 0 40%;
      max-width: 40%;
      @extend %f-c-s-s;
      gap: 3rem;

      .intro {
        @extend %f-c-s-s;

        h2 {
          color: $red-color;
        }
      }
    }

    figure {
      flex: 0 0 35%;
      max-width: 35%;
      height: 35rem;
      background-color: $black-color;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
