.about-banner {
  background-color: $white-color;
  height: 100vh;
}

.about-us {
  .container {
    height: 80vh;
    padding: 5rem 0;
    margin: 5rem auto;
    border-top: $gray-border;
    border-bottom: $gray-border;
  }
}
