.detail {
  &.service-detail {
    .container {
      padding-top: 12rem;

      .intro {
        h2 {
          width: 70%;
        }
      }
    }
  }
}

.core-values {
  &.service-core-values {
    .container {
      padding-top: 0;

      .core-value-items {
        padding-top: 0;

        .core-value-item {
          border-top: $gray-border;
          border-bottom: none;
        }
      }
    }
  }
}

.service-number {
  .container {
    background-color: $red-color;
    padding: 15rem 0;
    margin: 5rem auto;
    @extend %f-r-s-c;

    .number-item {
      padding: 0 15rem;
      @extend %f-c-c-c;
      color: $white-color;
      gap: 2rem;

      h1 {
        font-size: 9.6rem;
      }

      &:nth-child(2) {
        border-right: 1px solid rgba($white-color, 0.5);
        border-left: 1px solid rgba($white-color, 0.5);
      }
    }
  }
}

.service-download {
  .container {
    padding: 10rem 0;

    .content {
      width: 40%;

      .small-para {
        padding-bottom: 1rem;
      }

      h2 {
        width: 70%;
        padding-bottom: 2rem;
        color: $red-color;
      }
    }

    .dropdown-download {
      padding-top: 7rem;
      @extend %f-r-s-s;
      align-items: stretch;

      .pdf-download {
        border: 1px solid $black-color;
        padding-left: 2rem;
        padding-right: 2rem;
        min-width: 40rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("/public/svg/dd.svg");
        background-repeat: no-repeat;
        background-position: right 2.7rem top 50%;
        background-size: 1.3rem;
        font-size: 1.6rem;
      }

      .link-fill {
        &-red {
          background-color: $red-color;
          color: $white-color;
          border: 1px solid $red-color;

          &:hover {
            background-color: $white-color;
            color: $red-color;
            border: 1px solid $red-color;
          }
        }
      }
    }
  }
}
