<footer class="footer">
    <div class="container-outer">
        <div class="footer-content">
            <h3>Spillane Brothers is a construction firm in Bantry, Cork. We are known for our quality and
                client-focused approach.</h3>
            <div class="f-item">
                <p class="title small-para">ADDRESS</p>
                <div class="content">
                    <p class="small-para">Derrygrenaugh Bantry Co.</p>
                    <p class="small-para">Cork, Ireland</p>
                </div>
            </div>
            <div class="f-item">
                <p class="title small-para">CONTACT US</p>
                <div class="content">
                    <a href="#" class="link small-para">P| 027-50705</a>
                    <a href="#" class="link small-para">T| 087-2364767</a>
                    <a href="#" class="link small-para">info@spillanebrothers.com</a>
                </div>
            </div>
            <div class="f-item">
                <p class="title small-para">CONNECT</p>

                <div class="social-icon">
                    <a href="#">
                        <img src="/public/svg/facebook-logo.svg" alt="f-logo">
                    </a>
                    <a href="#">
                        <img src="/public/svg/in-logo.svg" alt="in-logo">
                    </a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <a href="#" class="link small-para">All rights reserved 2023 Spillane Brothers</a>
            <a href="#" class="link small-para">Site by noise</a>
        </div>
    </div>
</footer>
